*{
  font-family: "Markazi Text", "Karla", serif;
  scroll-behavior: smooth;
}
header{
  max-width: 870px;
  height: 78px;
  margin: 0 auto;
  margin-top: 21px;
}

label,
input,
select,
textarea,
p {
  font-family: "Karla";
}
main{
  margin-top: 21px;
}